.video__title {
  font-style: normal;
  font-weight: 900;
  color: #FFFFFF;
  position: relative;
  z-index: 3;
}

@media screen and (max-width: 374px) {
  .video__title {
    font-size: 1.5rem;
    line-height: 26px;
    margin: 0 16px 2px 16px;
  }
}

@media screen and (min-width: 375px) and (max-width: 574px) {
  .video__title {
    font-size: 1.5rem;
    line-height: 26px;
    margin: 0 24px 2px 24px;
  }
}

@media screen and (min-width: 575px) and (max-width: 767px) {
  .video__title {
    font-size: 1.5rem;
    line-height: 26px;
    margin: 0 24px 12px 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .video__title {
    font-size: 1.5rem;
    line-height: 26px;
    margin: 0 24px 12px 24px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .video__title {
    font-size: 2rem;
    line-height: 39px;
    margin: 0 104px 18px 30px;
  }
}

@media screen and (min-width: 1280px) {
  .video__title {
    font-size: 2rem;
    line-height: 39px;
    margin: 0 231px 18px 30px;
  }
}
