@import url('../vendor/normalize.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=cyrillic');
@import url('../blocks/header/header.css');
@import url('../blocks/invitation/invitation.css');
@import url('../blocks/philosophy/philosophy.css');

.page {
  margin: 0 auto;
  font-family: 'Open Sans', 'Arial', sans-serif;
}
