.video__title {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 39px;
  color: #FFFFFF;
  position: relative;
  z-index: 3;
  max-width: 323px;
  margin: 0 auto 18px 30px;
}
