@import url('./_place/content-subtitle_place_comments.css');

.content-subtitle {
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .content-subtitle {
    font-size: 1rem;
    line-height: 23px;
    margin: 0 0 24px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .content-subtitle {
    font-size: 1.5rem;
    line-height: 35px;
    margin: 0 0 56px 0;
    max-width: 640px;
  }
}

@media screen and (min-width: 1024px){
  .content-subtitle {
    font-size: 1.5rem;
    line-height: 35px;
    margin: 0 0 72px 0;
    max-width: 640px;
  }
}
