<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="author" content="Grigory Zotkevich">
  <meta name="keywords" content="constructions, TRU">

  <title>Transurban designs & constructions</title>
  <link rel="stylesheet" href="./pages/index.css">
</head>

<body class="page">

  <header class="header">

    <div class="header__logo"></div>

    <nav class="header__nav">
      <ul class="header__links">

        <li><a href="#" class="header__link">Features</a></li>

        <li><a href="#" class="header__link">Pricing</a></li>

        <li><a href="#" class="header__link">Company</a></li>

        <li><a href="#" class="header__link">Contact&nbsp;us</a></li>

      </ul>
    </nav>

  </header>

<!-- Header: Ready. Invitation: 15% -->

  <main>
    <section class="invitation">
      <h1 class="invitation__title">Imagine it and we will build it</h1>
      <h2 class="invitation__subtitle">Building dreams using modern technology</h2>
      <a href="#" class="button buttton_style_red">Get started</a>
      <div class="invitation__blueprint"></div>
    </section>

  </main>

</body>


</html>
