@import url('../__data-title/contacts__data-title.css');
@import url('../__data-text/contacts__data-text.css');

.contacts__data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 96px;
  margin-bottom: 40px;
}


@media (max-width: 1023px) {
  .contacts__data {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}

@media (max-width: 767px) {
  .contacts__data {
    flex-direction: row;
    min-width: 340px;
    justify-content: space-between;
    margin-right: 40px;
  }
}

@media (max-width: 599px) {
  .contacts__data {
    flex-direction: column;
    margin: 0;
    min-width: 0;
  }
}
