@import url('../../__line/intro__line.css');

.intro__signature {
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 16px;
  color: #FFFFFF;
  margin: 0;
  list-style-type: none;
  padding: 0;
}
