@import url('../_form-title/contacts__form-title.css');
@import url('../__input/contacts__input.css');

.contacts__form {
  display: flex;
  flex-direction: column;
  padding: 47px 40px 56px 40px;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: -5px 5px 0px #FFC41D;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .contacts__form {
    max-width: 80%;
    margin: 0 auto 54px auto;
  }
}

@media (max-width: 599px) {
  .contacts__form {
    max-width: 261px;
    padding: 39px 20px 48px 20px;
  }
}

