/* .footer__link:hover {
  opacity: .7;
  transition: ease-in-out .25s;
} */

.footer__link {
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  text-decoration: none;
}


@media screen and (max-width: 574px)
{
  .footer__link {
    font-size: 1.5rem;
    line-height: 41px;
    margin: 0 0 32px 0;
  }
}

@media screen and (min-width: 575px) and (max-width: 767px) {
  .footer__link {
    font-size: .75rem;
    line-height: 27px;
    margin: 0 9px 0 0;
  }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer__link {
    font-size: 1rem;
    line-height: 27px;
    margin: 0 18px 0 0;
  }
  .footer__link:hover {
    opacity: .7;
    transition: ease-in-out .25s;
  }
}

@media screen and (min-width: 1024px) {
  .footer__link {
    font-size: 1.5rem;
    line-height: 41px;
    margin: 0 18px 0 0;
  }
  .footer__link:hover {
    opacity: .7;
    transition: ease-in-out .25s;
  }
}
