.features__card-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  margin: 0;
}

@media (max-width: 767px) {
  .features__card-text {
    font-size: 14px;
  }
}
