.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 78px;
  text-align: center;
  color: #FFFDFD;
  position: relative;
  z-index: 3;
  margin: 274px auto 134px auto;
}
