@import url('../social-link/social-link.css');
@import url('./_place/social-links_place_footer.css');

.social-links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
