.card__title {
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 59px;
  color: #FFFFFF;
  margin: 0 auto 20px 0;
}

@media (max-width: 1023px) {
  .card__title {
    font-size: 38px;
  }
}

@media (max-width: 767px) {
  .card__title {
    order: 3;
    margin: 0 auto 20px auto;
  }
}

@media (max-width: 599px) {
  .card__title {
    font-size: 24px;
    line-height: 28px;
    margin: 0 auto 15px auto;
  }
}

