@import url('./_icon/contacts__input_icon_phone.css');
@import url('./_icon/contacts__input_icon_user.css');

.contacts__input {
  height: 70px;
  box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
  border-radius: 5px;
  margin: 0 0 20px 0;
  padding-left: 51px;
  box-sizing: border-box;
}

@media (max-width: 599px) {
  .contacts__input {
    height: 64px;
    margin: 0 0 18px 0;
  }
}


