@import url('../__data/contacts__data.css');
@import url('../__social/contacts__social.css');
@import url('../__privacy-policy/contacts__privacy-policy.css');

.contacts__info {
  position: relative;
}

@media (max-width: 767px) {
  .contacts__info {
    display: flex;
  }
}

@media (max-width: 599px) {
  .contacts__info {
    flex-direction: column;
  }
}
