.card__image {
  object-fit: contain;
  justify-self: center;
  border-radius: 50%;
  border: 10px solid white;
}

@media (max-width: 1023px) {
  .card__image {
    width: 300px;
    height: 300px;
  }
}
