@import url('./__image/place__image.css');
@import url('./__text/place__text.css');
@import url('./__title/place__title.css');
@import url('./__website/place__website.css');

.place {
  display: grid;
  grid-template-columns: 460px 484px;
  grid-column-gap: 40px;
  grid-row-gap: 60px;
  align-items: flex-start;
  margin: 0 0 72px 0;
}
