.card__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #FFBB01;
  margin: 34px auto 14px 0;
}

@media (max-width: 1023px) {
  .card__subtitle {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .card__subtitle {
    order: 2;
    margin: 0 auto 4px auto;
  }
}

@media (max-width: 599px) {
  .card__subtitle {
    font-size: 16px;
    line-height: 27px;
  }
}

