.card__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #FFBB01;
  margin: 34px auto 14px 0;
}

@media (max-width: 1023px) {
  .card__subtitle {
    font-size: 18px;
  }
}
