@import url('../vendor/normalize.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('../blocks/header/header.css');
@import url('../blocks/card/card.css');
@import url('../blocks/button/button.css');
@import url('../blocks/features/features.css');
@import url('../blocks/contacs/contacs.css');

.page {
  margin: 0 auto;
  background: #1B2944;
  font-family: 'Roboto', 'Arial', sans-serif;

}
