@import url('./_place/content-subtitle_place_comments.css');

.content-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
  max-width: 640px;
  margin: 0 0 72px 0;
}
