@import url('./__image/card__image.css');
@import url('./__subtitle/card__subtitle.css');
@import url('./__text/card__text.css');
@import url('./__title/card__title.css');


.card {
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 117px;
  grid-template-rows: 1fr;
  padding: 0 172px;
  box-sizing: border-box;
  margin: 0 auto 47px auto;
}
