@import url('./__image/card__image.css');
@import url('./__subtitle/card__subtitle.css');
@import url('./__text/card__text.css');
@import url('./__title/card__title.css');


.card {
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 117px;
  grid-template-rows: 1fr;
  padding: 0 172px;
  margin: 0 auto 47px auto;
}

@media (max-width: 1279px) {
  .card {
    max-width: 1024px;
    padding: 0 92px;
    margin: 0 auto 47px auto;
  }
}

@media (max-width: 1023px) {
  .card {
    max-width: 768px;
    padding: 0 32px;
    margin: 0 auto 47px auto;
    column-gap: 5px;
  }
}

@media (max-width: 767px) {
  .card {
    max-width: 600px;
    padding: 0 28px;
    margin: 0 auto 47px auto;
    display: flex;
    flex-direction: column;
  }
}

/* ВОТ ТУТ ОСТАНОВИЛСЯ. НАЧАТЬ ПОРЯДОК ЭЛЕМЕНТОВ */
