@import url('./__title/contacts__title.css');
@import url('./__container/contacts__container.css');


.contacts {
  max-width: 1280px;
  margin: 0 auto;
  padding: 64px 172px 48px 172px;
  box-sizing: border-box;
}
