.features__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
  margin: 0 0 84px 0;
}

@media (max-width: 1023px) {
  .features__title {
    margin: 0 0 60px 0;
  }
}

@media (max-width: 599px) {
  .features__title {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (max-width: 424px) {
  .features__title {
    font-size: 19px;
    line-height: 22px;
  }
}
