.contacts__form-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  margin: 0 0 30px 0;
}

@media (max-width: 599px) {
  .contacts__form-title {
    font-size: 15px;
    line-height: 21px;
    margin: 0 0 28px 0;
  }
}
