<!DOCTYPE html>

<html lang="ru">

<head>

  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="author" content="Grigory Zotkevich">
  <meta name="keywords" content="demo-site">

  <title>Demo site</title>
  <link rel="stylesheet" href="./pages/index.css">

</head>

<body class="page">

  <header class="header">
    <!-- Не совсем уверен, что ниже должен быть именно div -->
    <div class="header__logo"></div>

    <div class="header__container">

      <ul class="header__links">

        <li><a href="#" class="header__link"><img src="./images/github.svg" alt="иконка github" class="header__icon"></a></li>
        <li><a href="#" class="header__link"><img src="./images/twitter.svg" alt="иконка twitter" class="header__icon"></a></li>
        <li><a href="#" class="header__link"><img src="./images/instagram.svg" alt="иконка instagram" class="header__icon"></a></li>
        <li><a href="#" class="header__link"><img src="./images/facebook.svg" alt="иконка facebook" class="header__icon"></a></li>

      </ul>

    </div>

  </header>



</body>


</html>
