<!DOCTYPE html>

<html lang="ru">

<head>

  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="author" content="Grigory Zotkevich">
  <meta name="keywords" content="demo-site">

  <title>Demo site</title>
  <link rel="stylesheet" href="./pages/index.css">

</head>

<body class="page">

  <header class="header">
    <a href="#" class="header__logo"></a>

    <div class="header__container">

      <ul class="header__links">

        <li><a href="#" class="header__link"><img src="./images/github.svg" alt="иконка github"
              class="header__icon"></a></li>
        <li><a href="#" class="header__link"><img src="./images/twitter.svg" alt="иконка twitter"
              class="header__icon"></a></li>
        <li><a href="#" class="header__link"><img src="./images/instagram.svg" alt="иконка instagram"
              class="header__icon"></a></li>
        <li><a href="#" class="header__link"><img src="./images/facebook.svg" alt="иконка facebook"
              class="header__icon"></a></li>

      </ul>

    </div>

  </header>


  <section class="card">
    <div>
      <h2 class="card__subtitle">Фрилансер</h2>
      <h1 class="card__title">Петр Федоров</h1>
      <p class="card__text">
        Разрабатываю сайты для малого и среднего бизнеса. У меня можно заказать дизайн и верстку
        небольшого сайта или интернет-магазина
      </p>
      <a href="" class="button">Бесплатная&nbsp;консультация</a>
    </div>

    <img src="./images/avatar.jpg" alt="фотография фрилансера" class="card__image">
  </section>


</body>


</html>
