@import url('../__title/features__title.css');
@import url('../__cards/features__cards.css');

.features__container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 64px 172px 92px 172px;
}

@media (max-width: 1279px) {
  .features__container {
    max-width: 1024px;
    padding: 64px 92px 60px 92px;
  }
}

@media (max-width: 1023px) {
  .features__container {
    max-width: 768px;
    padding: 64px 32px 60px 32px;
  }
}

@media (max-width: 767px) {
  .features__container {
    max-width: 600px;
    padding: 64px 28px 60px 28px;
  }
}

@media (max-width: 599px) {
  .features__container {
    max-width: 425px;
    padding: 64px 16px 60px 16px;
  }
}

@media (max-width: 424px) {
  .features__container {
    max-width: 267px;
    padding: 64px 20px 60px 20px;
  }
}

/* ТУТ НА УСТРОЙСТВА МЕНЬШЕ */
